<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    
    <!-- component -->
    <div class="w-screen h-screen flex justify-center items-center bg-gray-900">
      <form action="login.php" method="post" 
        class="
          p-10
          bg-white
          rounded
          flex
          justify-center
          items-center
          flex-col
          shadow-md
        "
      >
        <img fill="none"
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            class="w-20 h-20 text-white  rounded-full"
            
             src="../assets/image/logo1.gif" >

        <p class="mb-5 text-3xl uppercase text-gray-600">Login</p>
        <input
          type="email"
          name="email"
          class="
            mb-5
            p-3
            w-80
            focus:border-purple-700
            rounded
            border-2
            outline-none
          "
          autocomplete="off"
          placeholder="Email"
          required
        />
        <input
          type="password"
          name="password"
          class="
            mb-5
            p-3
            w-80
            focus:border-purple-700
            rounded
            border-2
            outline-none
          "
          autocomplete="off"
          placeholder="Password"
          required
        />



        <button
          class="
            bg-green-600
            hover:bg-green-900
            text-white
            font-bold
            p-2
            rounded
            w-80
          "
          name="sublogin"
          id="login"
          type="submit"
        >
          <span>Login</span>
        </button>
       <div  >
        <a  href="/signup" ><u>Register Here!</u></a>  </div>
      </form>
    </div>

   
  </body>
</html>
