<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Contact Form</title>
    <link rel="stylesheet" href="contact.component.css">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;600&display=swap" rel="stylesheet">
  </head>
  
  <body>
    
    <header class="text-gray-600 body-font">
      <div style="background-color: white;" class="
            container
            mx-auto
            flex flex-wrap
           
            flex-col
            md:flex-row
            items-center
          ">
        <a class="
              flex
              title-font
              font-medium
              items-center
              text-gray-900
              mb-4
              md:mb-0
            ">
          <img fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-20 h-20 text-white p-2  rounded-full" src="../assets/image/logo1.gif">
  
  
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            class="w-10 h-10 text-white p-2  rounded-full" viewBox="0 0 24 24">
  
  
          </svg>
  
          <span style="font-size: x-large; text-decoration: solid; font-family: Oswald;" class="ml-3 text-xl">Triple Plug
            Share</span>
        </a>
        <nav class="
              md:ml-auto
              flex flex-wrap
              items-center
              text-base
              justify-center
            ">
          <a class="mr-5 hover:text-gray-900 nav-comp" href="/home">Home</a>
  
          <a class="mr-5 hover:text-gray-900 nav-comp" href="/contact">Contact</a>
          <a id="feedback" class="mr-5 hover:text-gray-900 nav-comp" (click)="onClick('div_feedback')">Feedback</a>
        </nav>
        <button type="button" class="btn btn-outline-success">
          <a style="font-family: 'Nunito', sans-serif;" href="login">Login/Sign Up</a>
        </button>
  
      </div>
    </header>
    
    <form action="">
      <div class="title">
        <h2>CONTACT US</h2>
        <h6 >Questions not answer yet We are here for you!!</h6>
        <br>
      </div>
      <div class="half">
        <div class="item">
          <label for="name">NAME</label>
          <input type="text" id = "name">
        </div>
        <div class="item">
          <label for="email">EMAIL</label>
          <input type="text" id = "email">
        </div>
      </div>
      <div class="full">
        <label for="message">MESSAGE</label>
        <textarea name="" id = "message"></textarea>
      </div>
      <div class="action">
        <input type="submit" value = "SUBMIT">
        <input type="reset" value = "RESET">
      </div>
      <div class="address">
        <a href="#">triple.plug.share@gmail.com</a>
        <p>Jabalpur</p> 
        <p>Madhya Pradesh, Bharat</p>
      </div>
      <div class="icons">
        <a href="" class = "fa fa-twitter"></a>
        <a href="" class = "fa fa-facebook"></a>
        <a href="" class = "fa fa-instagram"></a>
        <a href="" class = "fa fa-github"></a>
      </div>
    </form>
    
    <section class="text-gray-600 body-font relative">
      <div id="div_feedback">
        <div class="absolute inset-0 bg-gray-300">
          <iframe width="100%" height="100%" frameborder="0" marginheight="0" marginwidth="0" title="map" scrolling="no"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d117371.05679943635!2d79.89871232112424!3d23.175837426261996!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3981ae1a0fb6a97d%3A0x44020616bc43e3b9!2sJabalpur%2C%20Madhya%20Pradesh!5e0!3m2!1sen!2sin!4v1633264234047!5m2!1sen!2sin"
            style="filter: grayscale(1) contrast(1.2) opacity(0.4)"></iframe>
        </div>
        <div class="container px-5 py-24 mx-auto flex"data-aos="fade-right">
          <div class="
              lg:w-1/3
              md:w-1/2
              bg-white
              rounded-lg
              p-8
              flex flex-col
              md:ml-auto
              w-full
              mt-10
              md:mt-0
              relative
              z-10
              shadow-md
            ">
            <h2 style="color: #000000;" class="text-black-900 text-lg mb-1 font-semibold title-font">
              Feedback
            </h2>
            <p style="color: #000000;" class="leading-relaxed mb-5 text-gray-600">
              Please give us your's beautiful feedback...
            </p>  
            <form class="back" action="feedback.php" method="post">
              <div class="relative mb-4">
                <label style="color: #000000;" for="email" class="leading-7 text-sm text-black-900 font-black">Email</label>
                <input type="email" id="email" name="email" class="
                  w-full
                  bg-white
                  rounded
                  border border-gray-300
                  focus:border-green-500 focus:ring-2 focus:ring-green-200
                  text-base
                  outline-none
                  text-gray-700
                  py-1
                  px-3
                  leading-8
                  transition-colors
                  duration-200
                  ease-in-out
                " />
              </div>
              <div class="relative mb-4">
                <label style="color: #000000;" for="message" class="leading-7 text-sm text-gray-600 font-black">Feedback</label>
                <textarea id="message" name="feedback" class="
                  w-full
                  bg-white
                  rounded
                  border border-gray-400
                  focus:border-green-500 focus:ring-2 focus:ring-green-200
                  h-32
                  text-base
                  outline-none
                  text-gray-700
                  py-1
                  px-3
                  resize-none
                  leading-6
                  transition-colors
                  duration-200
                  ease-in-out
                "></textarea>
              </div>
              <button class="
                text-white
                bg-green-500
                border-0
                py-2
                px-6
                focus:outline-none
                hover:bg-green-600
                rounded
                text-lg
              ">
                Submit
              </button>
              <!--p class="text-xs text-gray-500 mt-3">
              Chicharrones blog helvetica normcore iceland tousled brook viral
              artisan.
            </p-->
            </form>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>